nav {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 100px;
}
